#wrapper
	#header
		%ul#nav
			%li
				%a{:href => '#' , :class => 'active'} Dashboard
			%li 
				= link_to "Courses", courses_path

		%input{:type => 'text', :name => 'searchbar', :value => 'Search'}

		%ul#user-info
			%li
				%a{:href => '#' }= current_user.firstname
			%li
				%a{:href => '#' } Settings

	#header2
		#left.column
			#header
				%ul#nav
					%li
						%a{:href => "#"} To Do
		#middle.column
			#header
				%ul#nav
					%li
						%a{:href => "#"} Messages
		#right.column
			#header
				%ul#nav
					%li
						%a{:href => "#"} Questions
	#content
		#left.column2
		#right.column2
	#footer
