#wrapper
	#header
		%ul#nav
			%li
				%a{:href => '#' } Dashboard
			%li
				%a{:href => '#' } Mail
			%li
				%a{:href => '#' } Questions
			%li
				%a{:href => '#' } Groups 
			%li 
				= link_to "Courses", courses_path

		%input{:type => 'text', :name => 'searchbar', :value => 'Search'}

		%ul#user-info
			%li
				%a{:href => '#' }= current_user.firstname
			%li
				%a{:href => '#' } Settings

	#content
		#left.column
		#middle.column
		#right.column
	#footer
