<%= link_to "Add your classes", courses_path %><br />
<ul>
<% current_user.courses.each do |course|%>
  <li><%= course[0] %></li>
<% end %>
</ul>

<div id="news-feed"><h1>New's Feed</h1>
    <% current_user.courses.each do |course| %>
      <% announcements = Course.find(course[1]).announcements %>
      <% if announcements %>
          <% announcements.each do |announcement| %> 
            <%= announcement.title %><br />
            <%= announcement.description %>
          <% end %>
      <% end %>
    <% end %>
</div>
