#wrapper
	#header
		%ul#nav
			%li Dashboard
			%li Mail 
			%li Questions
			%li Groups

		%ul#classes
			%li= link_to "Classes", courses_path 
			#dropdown
				- current_user.courses.each do |course|
					%li= course.subjectCode + " " + course.courseNumber.to_s

		#search-bar
			%input{:type => 'text'}

		%ul#user-info
			%li= current_user.firstname
			%li Settings

	#content
		#left.column
		#middle.column
		#right.column
	#footer
