#wrapper{
	width: 960px;
	margin: 0 auto;
	position: relative;
}

#header h1{
	color: white;
	font-size: 2.5em;
	font-weight: normal;
}

#header h2{
	color: #bbbbbb;
	font-size: 1.2em;
	font-weight: normal;
	padding-bottom: 10px;
}

#courseSelectionContent {
	width: 700px;
	height: 570px;
	background: white;
	font-size: .85em;
	float: left;
	position: relative;
}



#courseSelectionContent li{
	width: 100%;
	display: table;
	-moz-box-shadow: 3px 3px 3px #666;
	-webkit-box-shadow: 3px 3px 3px #666;
	box-shadow: 3px 3px 3px #666;
	margin-bottom: 5px;
}

a:hover{
	background: #f7d7a0;
}

.title{
	box-shadow:inset 0 0 10px #000000;
	-moz-box-shadow:inset 0 2px 5px #000000;
	background: #686868;
	color: #bcbbbb;
	width: 55px;
	text-align: center;
	height: inherit;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 0 2px 0;
	display: table-cell;
	vertical-align: middle;
}

#left {
    width: 40px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}


li a{
	display:block;
}
.subtext{
	width: 200px;
	display: block;
	padding: 10px 0 10px 10px;
	display: table-cell;
}
#major-col{
	width: 250px;
	height: 570px;
	overflow-y: scroll;
	float: left;
}

#course-col{
	width: 250px;
	height: 570px;
	overflow-y: scroll;
	float: left;
}

#section-col{
	width: 200px;
	height: 570px;
	overflow: auto;
	float: left;
}

#section-col ul {
    padding: 10px;
    background: #686868;
    color: white;
}
#section-col li {
    -moz-box-shadow: 0 0 0 #666666;
    margin: 0;
    color: #dddddd;
}

#section-header{
	background: #dddddd;
	padding: 7px;
}

#add{
    height: 18px;
    width: 18px;
    display: block;
    float: left;
    background: green;
    text-align: center;
    margin: 0px 5px 0px 0px;
    color: #eeeeee;
    font-size: 1.0em;
}

#remove {
    background: none repeat scroll 0 0 #da4444;
    color: #EEEEEE;
    display: block;
    font-size: 1em;
    height: 0px;
    text-align: center;
    width: 18px;
    display: table-cell;
    padding: 5px;
}


#myCourses {
    background: none repeat scroll 0 0 #82acb5;
    position: absolute;
    right: 0;
    min-width: 200px;
    padding: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#myCourses-header {
    background: #626262;
    text-align: center;
    padding: 8px;
    font-weight: normal;
	font-size: 1.3em;
    color: #eeeeee;
	box-shadow:inset 0 0 10px #000000;
	-moz-box-shadow:inset 0 2px 5px #000000;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#myCourses-content {
    background: #3b3b3b;
    margin-top: 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#myCourses li {
	
    border-bottom: 1px solid #333333;
    display: table;
}
span.course {
	
    background: none repeat scroll 0 0 #c4c4c4;
    vertical-align: middle;
    display: table-cell;
	min-width: 122px;
	text-align: center;
    padding: 5px;
}
span.section {
    background: none repeat scroll 0 0 orange;
    padding: 5px;
    vertical-align: middle;
	text-align: center;
    display: table-cell;
	min-width: 30px;
}

.round-topleft{
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
}
.round-topright{
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
}

.left{text-align: left;}
.right{float: right;}

.odd{ background: #dddddd;}
.even{ background: #ffffff;}