#header {
    background: -moz-linear-gradient(center bottom , #1C4779 10%, #2964A8 90%) repeat scroll 0 0 white;
    border: 1px solid #0C366B;
    font-family: arial,sans-serif;
    font-size: 0.75em;
    margin-top: 10px;
    padding: 10px;
    text-transform: uppercase;
}
#header ul {
}
#header li a {
    -moz-border-radius: 5px 5px 5px 5px;
    border-top: 1px solid #2E89FF;
    color: #EFEFEF;
    display: block;
    padding: 10px 12px;
}
#header a:hover {
}
#header li {
    -moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 0 1px 1px #637B9A;
    background: -moz-linear-gradient(center bottom , #2F64A1 10%, #3783E4 90%) repeat scroll 0 0 transparent;
    border: 1px solid #0C366B;
    display: inline;
    float: left;
    margin: 2px 4px;
}
#user-info {
    float: right;
}
#classes {
    float: left;
}
#nav li {
}
#header li:hover {
    background: -moz-linear-gradient(center bottom , #2F64A1 10%, #3783E4 70%) repeat scroll 0 0 transparent;
}
#nav {
    float: left;
    overflow: hidden;
    width: 57%;
}
#user-info li {
    float: right;
    text-transform: none;
}
#wrapper {
    margin: 0 auto;
    width: 954px;
}
.column {
    background: none repeat scroll 0 0 orange;
    float: left;
    margin: 0 1%;
    min-height: 500px;
    width: 31.3333%;
}
#dropdown {
    display: none;
}
input[name="searchbar"] {
    border: 1px solid #0C366B;
    margin: 0.55%;
    padding: 3px;
    width: 20%;
}
#content {
    background: none repeat scroll 0 0 blue;
    margin-top: 10px;
    overflow: hidden;
    padding: 1% 0;
}
body {
    background: none repeat scroll 0 0 #DFE7E9;
}
#header li a:active {
    background: -moz-linear-gradient(center bottom , #2F64A1 10%, #2F64A1 90%) repeat scroll 0 0 transparent;
    border-top: medium none;
    color: white;
}
.active {
    background: -moz-linear-gradient(center bottom , #2F64A1 10%, #2F64A1 90%) repeat scroll 0 0 transparent;
    border-top: medium none;
    color: white;
}
