<% count = 0 %>
<% @major.courses.each do |course| %>

	<li class="<%= (count % 2 == 0) ? "odd" : "even "%>">
		<a href="<%=  showSections_path(@major.subjectCode, course.courseNumber.to_s) %>" data-remote="true">
			
				<div id="left"><div class="title"><%= course.courseNumber %></div></div>
			<div class="subtext"><%= course.title %></div></a>
	</li>
	<% count += 1 %>
<% end %>