<ul>
<% count = 0 %>
<% majors.each do |major| %>
	<li class="
	<% if (count % 2 == 0) %> 
		odd
	<% else %>
		even
	<% end %>
	">
		<a href="<%= major.subjectCode %>" data-remote="true">
			<div id="left"><div class="title"><%= major.subjectCode %></div></div>
			<div class="subtext"><%= major.subjectDescription %></div></a>
	</li>
	<% count += 1 %>
<% end %>
</ul>