<%= flash['notice'] %>

<div id="wrapper">
	<div id="header">
		<h1 class="afs-charis-sil">Hey there Kiran.</h1>
		<h2 class="afs-pt-sans">Let's add your classes.</h2>
	</div>
	<div id="courseSelectionContent" class="afs-pt-sans">
		<div id="major-col"><%= render :partial => "majors", :object => @majors %></div>
		<div id="course-col">select a major</div>
		<div id="section-col">select a course</div>
	</div>
	<div id="myCourses">
		<% if session[:mySections] %>
			<% session[:mySections].each do |section| %>
				<%= section %>
			<% end %>
		<% end%>
	</div>
</div>