<%= flash['notice'] %>

<div id="courseSelectionContent">
	<div id="left-col"><%= render :partial => "majors", :object => @majors %></div>
	<div id="center-col">select a major</div>
	<div id="right-col">select a course</div>
</div>