<%= flash['notice'] %>

<div id="selection">
	<div id="left-col"><%= render :partial => "majors", :object => @majors %></div>
	<div id="center-col">middle column</div>
	<div id="right-col">right column</div>
</div>