<% @courses.each do |course| %>
	<%= course.subjectCode %> <%= course.courseNumber %><br />
	<% mysections = course.sections %>
	<% mysections.each do |section| %>
		<%= section.sectionId %>
	<% end %>
	<p></p>
<% end %>
